<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="header">EAT DA BORGER</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 burgerText">Burgers Ready to Eat:</div>
        <div class="col-md-6 burgerText">Burgers That Have Been Devoured:</div>
    </div>
    <div class="row">
        <div class="col-lg-6 burgers"></div>
        <div class="col-lg-6 eaten"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form>
                <div class="form-group">
                    <label>Enter the Name of Your Borger Bellow!</label>
                    <textarea class="form-control" id="burgerInput" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2 submitButton">Confirm identity</button>
            </form>
        </div>
    </div>
</div>